@font-face {
    font-family: 'Minecraft';
    src: url('Fonts/Minecraft.ttf')
}
@font-face {
    font-family: 'MinecrafterAlt';
    src: url('Fonts/Minecrafter.Alt.ttf')
}
@font-face {
    font-family: 'MinecrafterReg';
    src: url('Fonts/Minecrafter.Reg.ttf')
}
h1 {
    font-family: 'MinecrafterAlt', Arial, sans-serif;
}
h2 {
    font-family: 'MinecrafterReg', Arial, sans-serif;
}
p {
    font-family: 'Minecraft', Arial, sans-serif;
}
body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f4f4f4;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.load-btn {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    margin-left: 20px;
}

.load-btn:hover {
    background-color: #45a049;
}

.dropdown {
    position: relative;
    display: inline-block;
}

.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 10px;
    font-size: 16px;
    border: none;
    cursor: pointer;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content img {
    width: 40px;
    height: 40px;
    margin-right: 10px;
}

.dropdown-content div {
    padding: 12px;
    display: flex;
    align-items: center;
    cursor: pointer;
}

.dropdown-content div:hover {
    background-color: #f1f1f1;
}

.dropdown:hover .dropdown-content {
    display: block;
}

